.aw-widget .datetime-input .dt {
	background: url("/modules/sys/images/calbtn.gif") no-repeat scroll 100% 50% #FFFFFF;
	border: 1px solid #CCCCCC;
	cursor: pointer;
	padding-right: 2em;
	width: 6em;
}
.aw-widget .datetime-input .dttime {
	border: 1px solid #CCCCCC;
	margin: 0 0 0 0.2em;
	width: 3.5em;
}
.aw-widget .datetime-input .dttimesec {
	width: 4.5em !important;
}
.aw-widget .datetime-input .icon-clear {
	background: url("/modules/sys/images/icon-clear.png") no-repeat scroll 50% 50% transparent;
	cursor: pointer;
	display: inline-block;
	height: 10px;
	margin-left: 6px;
	width: 12px;
}
.aw-widget .datetime-input .clickable {
	cursor: pointer;
	color: #000000;
	line-height: 1.5;
	border-bottom: 1px dotted;
	text-decoration: none;
	margin-left: 6px;
}
