.aw-widget-period {
	height: 55px;
}

.aw-widget-period ul li {
	float: left;
	margin-right: 3px;
	padding: 3px 10px;
}
.aw-widget-period li.cin li {
	padding: 0;
}
.aw-widget-period .clear {
	clear: both;
}
.aw-widget-period .menu .sel a {
	color: #555555;
	text-decoration: none;
}
.aw-widget-period .menu a:hover {
	text-decoration: underline;
}
.aw-widget-period .menu li.sel {
	background-color: #E3E3D7;
}
.aw-widget-period .view {
	font-size: 1.1em;
	margin-bottom: 3px;
} 
.aw-widget-period .mv a {
	color: #555555;
	margin-right: 10px;
	text-decoration: none;
}
.aw-widget-period .mv a:hover {
	text-decoration: underline;
}

.aw-widget-period li.cin ul {
	display: none;
}

.aw-widget-period .tpcustom li.cin ul {
	display: block;
}
.aw-widget-period .tpcustom li.bsmove {
	display: none;
}